<html>
    <body>
        <div>
            <a href="callto:+19852915388" data-reactid=".1.0.2.$0.$callto.0"><span class="phone-field-component__icon phone-field-component__icon-phone" data-reactid=".1.0.2.$0.$callto.0.0"></span><span data-reactid=".1.0.2.$0.$callto.0.1">Call</span></a>
        </div>
       <div>
        <a href="callto:+919756761246" data-reactid=".1.0.2.$0.$callto.0"><span class="phone-field-component__icon phone-field-component__icon-phone" data-reactid=".1.0.2.$0.$callto.0.0"></span><span data-reactid=".1.0.2.$0.$callto.0.1">Call</span></a>
       </div>
    </body>
</html>